@charset "UTF-8";
body{
   background-image: url('../imagens/cev-portrait.jpg');
   background-position: center bottom;
}
h1::after{
    content: '-->Modo Retrado<--';
    color: black;
    display: block;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    animation: animacao 1s linear alternate infinite;

}

@keyframes animacao {
    0%{
        top: 0vh;
        
    }
    50%{
        top:47vh;
    }

    100%{
        top: 94vh;
    }
}
@keyframes girar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);

    }    
}