body{
    background-color: rgb(252, 252, 192);
}
header{
    background-color: rgb(197, 197, 197);
}
header h1{
    color: black;
}
section#menu-hamburguer{
    display: none;
}
section#links-menu{
    display: flex;
    flex-direction: row;
    position: static;
    
}
nav a{
    border-left: 2px solid rgba(124, 124, 124, 0.589);
}
main{
    background-color: white;
    max-width: 700px;
    width: 80vw;
    margin: 10px auto;
    border: 2px solid rgba(163, 163, 163, 0.699);
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(58, 57, 57, 0.644);
    padding: 30px;
}   
